NodeRED-Flow Diagram-Heart Failure Prediction.json
[{"id":"8cecf062.d0548","type":"tab","label":"Prediction of Heart Failure","disabled":false,"info":""},{"id":"2353dae4.e76f26","type":"ui_form","z":"8cecf062.d0548","name":"","label":"","group":"58baee76.da428","order":1,"width":0,"height":0,"options":[{"label":"AVGHEARTBEATSPERMIN","value":"AVGHEARTBEATSPERMIN","type":"number","required":true,"rows":null},{"label":"PALPITATIONSPERDAY","value":"PALPITATIONSPERDAY","type":"number","required":true,"rows":null},{"label":"CHOLESTEROL","value":"CHOLESTEROL","type":"number","required":true,"rows":null},{"label":"BMI","value":"BMI","type":"number","required":true,"rows":null},{"label":"AGE","value":"AGE","type":"number","required":true,"rows":null},{"label":"SEX","value":"SEX","type":"text","required":true,"rows":null},{"label":"FAMILYHISTORY","value":"FAMILYHISTORY","type":"text","required":true,"rows":null},{"label":"SMOKERLAST5YRS","value":"SMOKERLAST5YRS","type":"text","required":true,"rows":null},{"label":"EXERCISEMINPERWEEK","value":"EXERCISEMINPERWEEK","type":"number","required":true,"rows":null}],"formValue":{"AVGHEARTBEATSPERMIN":"","PALPITATIONSPERDAY":"","CHOLESTEROL":"","BMI":"","AGE":"","SEX":"","FAMILYHISTORY":"","SMOKERLAST5YRS":"","EXERCISEMINPERWEEK":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":210,"y":320,"wires":[["8790235a.d7928","cbf5e0de.a0a06"]]},{"id":"8790235a.d7928","type":"debug","z":"8cecf062.d0548","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":390,"y":400,"wires":[]},{"id":"cbf5e0de.a0a06","type":"function","z":"8cecf062.d0548","name":"pre-token","func":"global.set(\"AVGHEARTBEATSPERMIN\",msg.payload.AVGHEARTBEATSPERMIN)\nglobal.set(\"PALPITATIONSPERDAY\",msg.payload.PALPITATIONSPERDAY)\nglobal.set(\"CHOLESTEROL\",msg.payload.CHOLESTEROL)\nglobal.set(\"BMI\",msg.payload.BMI)\nglobal.set(\"AGE\",msg.payload.AGE)\nglobal.set(\"SEX\",msg.payload.SEX)\nglobal.set(\"FAMILYHISTORY\",msg.payload.FAMILYHISTORY)\nglobal.set(\"SMOKERLAST5YRS\",msg.payload.SMOKERLAST5YRS)\nglobal.set(\"EXERCISEMINPERWEEK\",msg.payload.EXERCISEMINPERWEEK)\nvar apikey=\"b4dgO1nfY8HJ_TPWN-r5qVsRbR4u3tPyHMwWoxMwfO4o\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":260,"wires":[["3d0ea2e3.99801e"]]},{"id":"3d0ea2e3.99801e","type":"http request","z":"8cecf062.d0548","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":552.0000038146973,"y":304.00000286102295,"wires":[["903732ce.07dfd","4cb849c3.b66658"]]},{"id":"903732ce.07dfd","type":"debug","z":"8cecf062.d0548","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":740,"y":360,"wires":[]},{"id":"4cb849c3.b66658","type":"function","z":"8cecf062.d0548","name":"Pre Prediction","func":"var AVGHEARTBEATSPERMIN = global.get(\"AVGHEARTBEATSPERMIN\")\nvar PALPITATIONSPERDAY = global.get(\"PALPITATIONSPERDAY\")\nvar CHOLESTEROL = global.get(\"CHOLESTEROL\")\nvar BMI = global.get(\"BMI\")\nvar AGE = global.get(\"AGE\")\nvar SEX = global.get(\"SEX\")\nvar FAMILYHISTORY = global.get(\"FAMILYHISTORY\")\nvar SMOKERLAST5YRS = global.get(\"SMOKERLAST5YRS\")\nvar EXERCISEMINPERWEEK = global.get(\"EXERCISEMINPERWEEK\")\nvar token=msg.payload.access_token\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"Accept\":\"application/json\"}\nmsg.payload={\"input_data\":[{\"fields\": [[\"AVGHEARTBEATSPERMIN\", \"PALPITATIONSPERDAY\", \"CHOLESTEROL\", \"BMI\", \"AGE\", \"SEX\", \"FAMILYHISTORY\", \"SMOKERLAST5YRS\", \"EXERCISEMINPERWEEK\"]],\"values\": [[AVGHEARTBEATSPERMIN,PALPITATIONSPERDAY,CHOLESTEROL,BMI,AGE,SEX,FAMILYHISTORY,SMOKERLAST5YRS,EXERCISEMINPERWEEK]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":744.0000076293945,"y":256.0000021457672,"wires":[["c1f90e3b.2a3db"]]},{"id":"c1f90e3b.2a3db","type":"http request","z":"8cecf062.d0548","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/ml/v4/deployments/aa089ac1-a41d-4c0d-b3ba-b7bf8ee904bf/predictions?version=2020-10-19","tls":"","persist":false,"proxy":"","authType":"","x":970,"y":280,"wires":[["e264aede.68fab","f78a34d9.abd7f8"]]},{"id":"e264aede.68fab","type":"debug","z":"8cecf062.d0548","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1122.9999914169312,"y":364.00000381469727,"wires":[]},{"id":"701794a7.a433cc","type":"inject","z":"8cecf062.d0548","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":270,"y":160,"wires":[["cbf5e0de.a0a06"]]},{"id":"eb4c5cf2.9312f","type":"debug","z":"8cecf062.d0548","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":953.9999885559082,"y":147.0000057220459,"wires":[]},{"id":"f78a34d9.abd7f8","type":"function","z":"8cecf062.d0548","name":"Parsing","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":799.6000595092773,"y":188.00000190734863,"wires":[["eb4c5cf2.9312f","90e9a318.cea13"]]},{"id":"90e9a318.cea13","type":"ui_text","z":"8cecf062.d0548","group":"58baee76.da428","order":2,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":980,"y":420,"wires":[]},{"id":"58baee76.da428","type":"ui_group","z":"","name":"Predicting heart failure","tab":"9ec7dbc.6a26a28","order":1,"disp":true,"width":"6","collapse":false},{"id":"9ec7dbc.6a26a28","type":"ui_tab","z":"","name":"Heart-Failure","icon":"dashboard","disabled":false,"hidden":false}]